.collage{
    position:absolute;
}

#special1 {background-color:#5f9ea0 }

@font-face {
    font-family:'GrayGothic';
    src:url("./Fonts/GrayGothic.ttf") format('truetype')  
}

h1{
    font-family:'GrayGothic',sans-serif;
}

.cropContainer{
     position:absolute;
     overflow: hidden;
}