.collage{
    position:"absolute"; 
}

#special1 {background-color:#5f9ea0 }

@font-face {
    font-family:GrayGothic;
    src: url(C:\Users\haile\Desktop\InteractivityIISP26\hello_world\GrayShreve_interactivityIISP2026_helloWorld\GrayGothic.ttf);
}